.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column; /* Display items in a column */
}

.left {
    align-self: center; /* Align the image in the center horizontally */
}

.right {
    margin-top: 20px; /* Add some space between the image and content */
}

.prevention-image {
    width: 100%;
    max-width: 600px; /* Increase the size of the image */
    height: auto;
    display: block;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2.5rem;
    text-align: center; /* Align the heading in the center */
    margin-bottom: 20px;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

p {
    font-size: 1.5rem;
    line-height: 1.6;
    margin-bottom: 20px;
}

.prevention-list {
    list-style-type: none;
    padding-left: 0;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;    
}

.prevention-list li {
    margin-bottom: 10px;
    padding-left: 20px;
    position: relative;
}

.prevention-list li:before {
    content: "•";
    position: absolute;
    left: 0;
    color: #ffffff; /* Change color as needed */
}
